name: Build, test and coverage

on:
  push:
    branches:
      - master
  pull_request:    
    branches: ["**"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    name: Build, test and coverage
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    env:
      CLUSTER_LOGS_PATH: cluster-logs
    steps:
      - name: Check out revision
        uses: actions/checkout@v4

      # - uses: ./.github/actions/free-disk-space

      - name: Write auth.bazelrc
        env:
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run: |
          cat << EOF > auth.bazelrc
          build --remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY
          EOF

      - name: Write ~/.bazelrc
        run: |
          cat << EOF > ~/.bazelrc
          common --config=ci
          build --remote_upload_local_results
          build --define basic_reports_enabled=true 
          EOF

      - name: Write ~/.bazelrc
        run: |
          cat << EOF > ~/.bazelrc
          common --config=ci
          build --remote_upload_local_results
          build --define container_registry=localhost:5001
          build --define image_repo_prefix=halo
          build --define image_tag=latest
          build --define kingdom_public_api_target=kingdom.example.com:8443
          build --define worker1_id=worker1
          build --define worker1_public_api_target=worker1.example.com:8443
          build --define worker2_id=worker2
          build --define worker2_public_api_target=worker2.example.com:8443
          build --define mc_name=measurementConsumers/foo
          build --define mc_api_key=foo
          build --define mc_cert_name=measurementConsumers/foo/certificates/bar
          build --define edp1_name=dataProviders/foo1
          build --define edp1_cert_name=dataProviders/foo1/certificates/bar1
          build --define edp2_name=dataProviders/foo2
          build --define edp2_cert_name=dataProviders/foo2/certificates/bar2
          build --define edp3_name=dataProviders/foo3
          build --define edp3_cert_name=dataProviders/foo3/certificates/bar3
          build --define edp4_name=dataProviders/foo4
          build --define edp4_cert_name=dataProviders/foo4/certificates/bar4
          build --define edp5_name=dataProviders/foo5
          build --define edp5_cert_name=dataProviders/foo5/certificates/bar5
          build --define edp6_name=dataProviders/foo6
          build --define edp6_cert_name=dataProviders/foo6/certificates/bar6
          build --define google_cloud_project=example-project
          build --define basic_reports_enabled=true
          EOF

      - name: Set TCP keepalive
        run: sudo sysctl -w net.ipv4.tcp_keepalive_time=60

      - name: Check lockfile
        run: bazel mod deps

      - name: Run tests with coverage
        id: run-coverage
        env:
          COVERAGE_EXCLUSIONS: ${{ steps.compute-coverage-exclusions.outputs.exclusion_filter }}
        run: >
          bazel coverage 
          --experimental_split_coverage_postprocessing 
          --experimental_fetch_all_coverage_outputs 
          --instrumentation_filter="//src/main/python/.*,-@.*,-src/main/.*/testing.*,-src/main/.*/loadtest.*,${COVERAGE_EXCLUSIONS}"
          //src/test/python/... 

      - name: Bazel output path
        run: |
          echo "BAZEL_OUTPUT_PATH=$(bazel info output_path)" >> $GITHUB_ENV        

      - name: Get bazel-testlogs path
        run: echo "BAZEL_TESTLOGS_PATH=$(bazel info bazel-testlogs)" >> $GITHUB_ENV


      # - name: Collect all MD5 coverage.dat files
      #   run: |
      #     mkdir -p coverage-artifacts
      #     find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -print0 | \
      #     while IFS= read -r -d '' file; do
      #       # md5sum "$file"
      #       head -n 5 "$file" 
      #     done

      # - name: Test write access (without cp)
      #   run: |
      #     mkdir -p coverage-artifacts/test-write
      #     find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -print0 | \
      #     while IFS= read -r -d '' file; do
      #       base=$(basename "$file")
      #       cat "$file" > "coverage-artifacts/test-write/$base" 
      #     done


      # - name: Collect coverage only for solver_test.py
      #   run: |
      #     mkdir -p coverage-artifacts
      #     find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -path "*/solver_test/coverage.dat" -print0 | \
      #     while IFS= read -r -d '' file; do
      #       base=$(basename "$file")
      #       cat "$file" > "coverage-artifacts/$base"
      #     done


      - name: Collect all coverage.dat files (flat)
        run: |
          mkdir -p coverage
          find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -print0 | \
          while IFS= read -r -d '' file; do
            base=$(basename "$(dirname "$file")")_coverage.dat
            cat "$file" > "coverage/$base" 
          done

      # - name: Collect all coverage.dat files
      #   run: |
      #     mkdir -p coverage-artifacts
      #     find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -print0 | \
      #     while IFS= read -r -d '' file; do
      #       relative_path="${file#${{ env.BAZEL_TESTLOGS_PATH }}/}"
      #       target_dir="coverage-artifacts/$(dirname "$relative_path")"
      #       mkdir -p "$target_dir"
      #       cp "$file" "$target_dir/"
      #     done

      # - name: List collected coverage files
      #   run: |
      #     echo "Coverage files collected:"
      #     find coverage-artifacts -type f -name "coverage.dat"

      # - name: Upload coverage files
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-files-${{ github.sha }}
      #     path: coverage-artifacts/
      #     retention-days: 30

      # - name: Upload coverage files
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-files-${{ github.sha }}
      #     path: coverage/
      #     retention-days: 30

      # - name: Upload individual coverage files as artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-files-${{ github.sha }}
      #     path: coverage-artifacts/
      #     retention-days: 30


      # - name: cat coverage
      #   run: |
      #     cat ${{ env.BAZEL_OUTPUT_PATH }}/_coverage/_coverage_report.dat

      - name: Move coverage file
        run: mv ${{ env.BAZEL_OUTPUT_PATH }}/_coverage/_coverage_report.dat lcov.info



      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: vecarlos/bazel-sample-project
          files: ${{ env.BAZEL_OUTPUT_PATH }}/_coverage/_coverage_report.dat

  