name: Build, test and coverage

on:
  push:
    branches:
      - master
  pull_request:
    branches: ["**"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    name: Build, test and coverage
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    env:
      CLUSTER_LOGS_PATH: cluster-logs
    steps:
      - name: Check out revision
        uses: actions/checkout@v4

      # - uses: ./.github/actions/free-disk-space

      - name: Write auth.bazelrc
        env:
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run: |
          cat << EOF > auth.bazelrc
          build --remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY
          EOF

      - name: Write ~/.bazelrc
        run: |
          cat << EOF > ~/.bazelrc
          common --config=ci
          build --remote_upload_local_results
          build --define basic_reports_enabled=true 
          EOF

      - name: Write ~/.bazelrc
        run: |
          cat << EOF > ~/.bazelrc
          common --config=ci
          build --define basic_reports_enabled=true
          EOF

      - name: Set TCP keepalive
        run: sudo sysctl -w net.ipv4.tcp_keepalive_time=60

      - name: Check lockfile
        run: bazel mod deps

      - name: Run tests with coverage
        id: run-coverage
        env:
          COVERAGE_EXCLUSIONS: ${{ steps.compute-coverage-exclusions.outputs.exclusion_filter }}
        run: >
          bazel coverage 
          --experimental_split_coverage_postprocessing 
          --experimental_fetch_all_coverage_outputs 
          --instrumentation_filter="//src/main/python/.*,-@.*,-src/main/.*/testing.*,-src/main/.*/loadtest.*,${COVERAGE_EXCLUSIONS}"
          //src/test/python/...

      - name: Bazel output path
        run: |
          echo "BAZEL_OUTPUT_PATH=$(bazel info output_path)" >> $GITHUB_ENV

      - name: Get bazel-testlogs path
        run: echo "BAZEL_TESTLOGS_PATH=$(bazel info bazel-testlogs)" >> $GITHUB_ENV

      - name: List and hash coverage.dat files
        run: |
          echo ">>> MD5 hashes of each coverage.dat:"
          find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -exec md5sum {} \; | sort


      # - name: Collect coverage only for solver_test.py
      #   run: |
      #     mkdir -p coverage-artifacts
      #     find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -print0 | \
      #     while IFS= read -r -d '' file; do
      #       base=$(basename "$(dirname "$file")")_coverage.dat
      #       cat "$file" > "coverage-artifacts/$base"
      #     done
        # base=$(basename "$file")


      - name: List and hash coverage.dat files
        run: |
          echo ">>> MD5 hashes of each coverage.dat:"
          find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -exec md5sum {} \; | sort

      - name: List and hash coverage.dat files
        run: |
          echo ">>> MD5 hashes of each coverage.dat:"
          find coverage-artifacts -type f -exec md5sum {} \; | sort



      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: vecarlos/bazel-sample-project
          files: ${{ env.BAZEL_OUTPUT_PATH }}/_coverage/_coverage_report.dat

      # - name: Upload merged coverage as artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-lcov-${{ github.sha }}
      #     path: ${{ env.BAZEL_OUTPUT_PATH }}/_coverage/_coverage_report.dat
      #     retention-days: 30

      # - name: List and hash coverage.dat files
      #   run: |
      #     echo ">>> MD5 hashes of each coverage.dat:"
      #     find ${{ env.BAZEL_TESTLOGS_PATH }} -type f -name "coverage.dat" -exec md5sum {} \; | sort

      # - name: Hash of merged coverage report
      #   run: |
      #     REPORT_PATH="${{ env.BAZEL_OUTPUT_PATH }}/_coverage/_coverage_report.dat"
      #     md5sum "$REPORT_PATH"
